__pycache__/
*.pyc
.venv/
venv/
build/
dist/
*.spec
release/
*.zip
core/xray.exe
core/xray
all_configs_stage1.txt
stage1_report.json
sub.txt
sub_base64.txt
proxy.txt
proxy_base64.txt
alive_report.txt
proxy_report.txt
report.json
run_log.txt
.env.local
.env
